@import "tailwindcss";

@theme {
  --color-theme-main: #101828;
  --color-theme-text: #475467;
  --color-theme-gray: #6C717B;
  --color-theme-btn: #E44848;
  --color-theme-btn-hover: #D84343;
  --color-theme-rating: #FFC531;
  --color-theme-gray-light: #DADDE1;
  --color-theme-badges: #F2F4F7;
  --color-theme-inputs: #F7F7F7;
  --font-inter: "Inter", sans-serif;
}

html, body, #root {
  @apply size-full;
}

#root {
  @apply flex flex-col;
}

body {
  @apply text-base font-inter;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 1352px /* 1352px */) {
    max-width: 1352px /* 1352px */;
  }
}
